{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}" />

<h1>Python-Haushaltswaren24.de</h1>

<form action="{% url 'polls:purchase' %}" method="POST" id="form_order">
  {% csrf_token %}

  <section class="section">
    <h2 class="section-headline">
      <small>Artikelübersicht</small>
      Bestellen Sie noch heute!
    </h2>

    <div class="products">
      {% for product in products %}
      <div class="product">
        <h3>{{ product.product }}</h3>
        <img src="{{ product.image_src }}" class="product-image" />
        <p>{{ product.description }}</p>

        <label
          >Anzahl:
          <select name="product_{{ product.id }}">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </label>
        <p class="product-price">€ {{ product.price }}</p>
      </div>

      {% comment %}
      <li>
        <a href="{% url 'polls:detail' question.id %}">
          {{ question.question_text }}
        </a>
      </li>
      {% endcomment %} {% endfor %}
    </div>
  </section>

  <section class="section">
    <h2 class="section-headline">
      <small>Bestellformular</small>
      Ihre Adressangaben
    </h2>

    <fieldset>
      <legend>Anschrift</legend>

      <div class="form-field">
        <label>
          Vorname:
          <input type="text" name="first_name" />
        </label>
      </div>

      <div class="form-field">
        <label>
          Nachname:
          <input type="text" name="last_name" />
        </label>
      </div>

      <div class="form-field">
        <label>
          Straße + Hausnummer:
          <input type="text" name="street" placeholder="" />
        </label>
      </div>

      <div class="form-field">
        <label>
          PLZ + Ort:
          <input type="text" name="city" placeholder="" />
        </label>
      </div>

      <div class="form-field">
        <label>
          E-Mail:
          <input type="text" name="email" placeholder="" />
        </label>
      </div>
    </fieldset>

    <input
      type="submit"
      vakue="Jetzt bestellen"
      class="btn-cta"
      id="btn_order"
    />
  </section>
</form>

{% comment %} {% if latest_question_list %}
<ul>
  {% for question in latest_question_list %}
  <li>
    <a href="{% url 'polls:detail' question.id %}">
      {{ question.question_text }}
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %} {% endcomment %}
